[SPYSERVER_CONFIG]
bind_host = 0.0.0.0
bind_port = 8080
list_in_directory = 0
owner_name = Harold Giddings
owner_email = corrosive@signalseverywhere.com
antenna_type = Test Antenna Field
antenna_location = 23.2323, 2.2323
general_description = Test description
maximum_clients = 10
allow_control = 1
device_type = Auto
device_serial = 0
fft_fps = 15
fft_bin_bits = 16
buffer_size_ms = 50
buffer_count = 10
force_8bit = 1

#This is just an example config
